.animal-list {
  height: 1200px;
  background-color: #d8bfd8;
  /* border: 2px solid black; */
}

.animal-container {
  height: 1200px;
  background-color: #ffefd5;
}

.animal-clicker {
  cursor: pointer;
  font-size: large;
}

.image-container {
  /* float: center; */
  width: 400px;
  height: 400px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;

  width: 50%;
}

.name {
  text-align: center;
  font-family: cursive;
}

h3 {
  text-align: center;

  font-size: xx-large;
}

h4 {
  text-align: center;
  font-size: xx-large;
}

#player {
  width: 400px;
  height: 400px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  padding-top: 1cm;
  padding-bottom: 1cm;
}

.row {
  min-height: 1000px;
}

strong {
  font-weight: bolder;
}

.add-new-animal {
  font-size: xx-large;
}

form {
  background-color: #301934;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

::placeholder {
  text-align: center;
  color: white;
}

.add-new-animal {
  color: white;
  font-size: x-large;
}

input,
select,
textarea {
  color: white;
}

input.submit-button {
  color: black;
}
